.book-detail{
    background-color: aliceblue;
    width: 900px;
    padding: 20px;
    border-radius: 20px;
}

.book-cover{
    float: left;
    border-radius: 20px;
    width:280px;
    height: 420px;
    box-shadow: 0px 4px  4px #000000;
}

.book-title{
    margin: 0;
    margin-left: 300px;
    font-size: 40px;
    font-family:'Segoe UI', sans-serif;

}

.over-all-rating{
    margin-left: 300px;
}

.book-author{
    margin: 0;
    font-weight:normal;
    font-size: 20px;
    margin-left: 435px;
}

.comment-header{
    margin-top: 130px;
    margin-left: 300px;
    display: flex;
    justify-content: space-between;
}

textarea{
    width : 600px;
    height: 100px;
    padding: 10px;
    /* top | right | bottom | left */
    margin: 8px 0px 0px 20px;
    box-sizing: border-box;
    border: 2px solid #555;
    border-radius: 10px;
  }

  #comment{
      font-size: 20px;
  }
  #new-rating{
    padding: 0;
  }
  
.single-comment{
    margin-top: 15px;
    padding: 30px 20px;
    background-color:wheat;
    border-radius: 20px;
}

  #add {
    margin-top: 10px;
    margin-left: 530px;
    color: #090909;
    padding: 11.2px 27.2px;
    font-size: 18px;
    border-radius: 30px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .1s;
    box-shadow: 6px 6px 12px #c5c5c5,-6px -6px 12px #ffffff;
   }
   
     
   #add:active {
    box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
   }

